
@{
    ViewBag.Title = "RELATÓRIOS";
    ViewBag.PageTitle = "RELATÓRIO";
}
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
@model IList<Admin.Models.RelatorioModel>
<div class="row">
    <div class="col-md-12">
        <div id="miolo" class="card strpied-tabled-with-hover card-wizard">

            <div class="card-header text-center">
                <h4 class="text-center">Selecione o tipo de relatório</h4>
            </div>
            <div class="card-body">
                
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-2" for="email">Relatorios</label>
                                <div class="col-sm-6">
                                    <select id="relatorios" class="form-control chosen-select">
                                        <option value="0">Selecione</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Id">@item.Nome</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row botoes">
                        <label class=" control-label col-sm-2" for="email"></label>
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                            <a href="#" id="download" style="margin:2px" class="btn btn-primary" role="button" aria-pressed="true">Exportar</a>
                        </div>
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                            <a id="mostrar" href="#" style="margin:2px" class="btn btn-primary" role="button" aria-pressed="true">Visualizar</a>
                        </div>
                    </div>


                    <div " class="row">
                        <div style="overflow:auto;" class="">
                            <table  id="tbRelatorio" hidden class="table table-hover table-responsive">
                                <thead>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Plugins/chosen.jquery.js"></script>
    <script src="~/Scripts/jquery.datatables.js"></script>
    <script src="~/Scripts/Pages/relatorios.js"></script>
}
